<div class="filter_block">
            <div class="filter_Title">Filters: </div>
            <div class="filter_params">
                <br>
                Ganres:
	            <form action="/catalog/filtered" method="post" enctype="multipart/form-data">
		            <div class="ganres">
	                    <input type="checkbox" name='filters' value="classic" {% if 'classic' in filters %} checked {% endif %}>
	                    <label for="classic">Classic</label> <br>
	                    <input type="checkbox" name='filters' value="comedy" {% if 'comedy' in filters %} checked {% endif %}>
	                    <label for="comedy">Comedy</label> <br>
	                    <input type="checkbox" name='filters' value="crime" {% if 'crime' in filters %} checked {% endif %}>
	                    <label for="crime">Crime</label><br>
	                    <input type="checkbox" name='filters' value="children" {% if 'children' in filters %} checked {% endif %}>
	                    <label for="For_children">For children</label> <br>
	                </div>
		            <button type="submit">Done!</button>
	            </form>
            </div>
        </div>