<div class="filter_block">
            <div class="filter_Title">Filters: </div>
            <div class="filter_params">
                <br>
                Ganres:
                <div class="ganres">
                    <input type="checkbox" id="classic">
                    <label for="classic">Classic</label> <br>
                    <input type="checkbox" id="comedy">
                    <label for="comedy">Comedy</label> <br>
                    <input type="checkbox" id="crime">
                    <label for="crime">Crime</label><br>
                    <input type="checkbox" id="For_children">
                    <label for="For_children">For children</label> <br>
                </div>
            </div>
        </div>