@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Modak&family=Rubik+Vinyl&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(95, 95, 167);
}

.header_title { 
    text-align: left;
    font-size: 30px;
    width: 300px;
    text-align: center;
    flex: 1;
    padding-left: 10px;
}

.upload {
    padding: 10px;
    flex: 9;
}

.upload_button {
    text-align: right;
    margin: 20px auto;
}

.title {
    width: 100%;
    margin: 20px auto;
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
}


a {
    color: white;
    text-decoration: none;
}


.filter_block {
    flex: 1;
    padding: 10px;
    margin: 0 -10px;
}

.filter_params {
    width: 90%;
    margin: 10px auto;
}

.filter_Title {
    font-size: 20px;
    font-weight: 600;
}

.ganres {
    width: 80%;
    margin: 10px 10px;
}


.catalog {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: 0 auto 100px;
}

.book_catalog_block {
    flex: 3;
    width: 100px;

}

.bookItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.book_catalog {
    padding: 10px;
}

img {
    width: 90%;
    height: 250px;
    margin: 0 auto 0;
    object-fit: contain;
    text-align: center;
}



.result_page {
    width: 90%;
    font-size: 30px;
    margin: 50px auto;
    text-align: center;
}

.catalog {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: 0 auto 100px;
}

.book_catalog_block {
    flex: 3;
    width: 100px;

}

.bookItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.book_catalog {
    padding: 10px;
}

.bookItem {
    height: 400px;
    gap: 20px;
    margin: 10px;
    flex: 0 0 calc(30% - 10px);
    box-sizing: border-box;
    -webkit-box-shadow: 0px 13px 10px -5px rgba(0,0,0,0.46); 
    box-shadow: 0px 13px 10px -5px rgba(0,0,0,0.46);

}

.bookItem_data {
    gap: 10px;
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 90%;
    height: 250px;
    margin: 0 auto 0;
    object-fit: contain;
    text-align: center;
}



.bookItem_data_title {
    font-size: 20px;
    height: 40px;
    font-weight: 600;
    margin: 5px auto;

}

.bookItem_data_author {
    margin: 10px auto;
}

.read_button_catalog {
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

.read {
    width: 100%;
    margin: 5px auto;
    height: 30px;
    font-size: 20px;
    background-color: rgb(124, 248, 124);
    border: none;
    border-radius: 6px;
}


