<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/catalog.css') }}">
    <title>Document</title>
</head>
<body>
    {% include 'view_models/header.html' %}
    

    <div class="search_box">
        <div class="title_conteiner">
            Find your book here: 
        </div>
        <div class="search_conteiner">
            <form id="search" action="/result" method="POST">
                <input placeholder="Enter the name of book or author" class="input" id="request" name="search" required>
            </form>       
        </div>
    </div>


    <div class="catalog">
        <div class="book_catalog_block">
            <div class="book_catalog">
	            {% include 'view_models/bookItems.html' %}
            </div>
        </div>
        <div style="flex: 0.1;"></div>
        {% include "view_models/filters.html" %}
    </div>
    
</body>
</html>